    <div class="ship-col-container col-lg-4 col-md-4">
        <div class="ship-spec">
            <div class="price">
                <p class="price-desc">Starting at {{getLowestSailingPrice(sailing)}}</p>

                <p class="price-amt"></p>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-5 col-xs-12">
                    <div class="ship-spec-image"></div>
                </div>
                <div class="col-md-12 col-sm-7 col-xs-12">
                    <div class="ship-spec-descrip">
                        <div class="line-cruise-name">
                            <span></span>
                            <span></span>
                        </div>
                        <h3 class="cruise-title"></h3>

                        <div class="radio" *ngFor="let sailingOption of sailing.sailing_options">
                            <label><input type="radio" (click)="updateSelected(sailingOption)"> {{sailingOption.sailing_date}}</label>
                            <div class="sailing-date-price">{{sailingOption.sailing_price | currency:'USD' : true}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
