<div class="container inner-container">
  <div class="row">
    <h1 class="col-lg-5 col-md-4 col-sm-5 col-xs-12">Choose Your Sailings </h1>
    <h4 class="col-lg-3 col-md-3 col-sm-3 col-xs-12">(Pick one for each box)</h4>
  </div>
    <div class="row" id="ships-row">
    <ship-detail *ngFor="let cruiseLine of cruiseLines" [cruiseLine]="cruiseLine"
                 (selectedOptionEmitter)="updatedSelectedTotal($event)"></ship-detail>
    </div>
</div>
<div class="container inner-container no-padding">
  <div class="row">
    <div class="col-md-12">
      <div class="total-spec">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
            <h2>Your Selected Sailings Total</h2>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <div class="price">{{selectedTotal | currency:'USD' : true : '1.0-0'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <!--<button class="btn btn-default" routerLink="/order-detail" (click)="">Place Order</button>-->
    </div>
  </div>
</div>

